/*---------------------
  Header mobile-menu
-----------------------*/
 
.header__menu-mobile {
  height: 150px;

  display: none;

  @media only screen and (max-width: $mq-sm) {
    display: block;
  }
}

.mobile-menu {
  &__nav {
    display: none;
  }

  &__inner {
    @include flex(space-between, center);
    padding: 40px 20px 0;
    z-index: 2;
  }

  &__burger {
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }

  &__line,
  &__line::before,
  &__line::after {
    height: 6px;
    width: 100%;
    position: absolute;
    top: 46%;
    right: 0;
    background-color: $c-primary;
    transition: background 0s 0.3s;
  }

  &__line::after,
  &__line::before {
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  &__line::after {
    top: 20px;
  }

  &__line::before {
    top: -21px;
  }

  &__list {    
    height: 100%;
    position: fixed;
    left: -100%;
    padding: 50px 10px 0 40px;

    display: flex;
    flex-direction: column;

    font-size: 32px;
    letter-spacing: 2px;
    background: rgba(236, 234, 234, 0.6);

    list-style: none;
    overflow-y: auto;
    z-index: 2;
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  & .list-mobile__link {
    display: flex;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    color: $c-primary;
    margin-bottom: 20px;
  }
}

.mobile-menu_active {
  & .mobile-menu {
    &__line {
      background: transparent;
    }
    &__line::after {
      top: 0;
      transform: rotate(45deg);
    }
    &__line::before {
      top: 0;
      transform: rotate(-45deg);
    }
    &__nav {
      display: block;
      padding-top: 50px;
    }
    &__list {
      top: 149px;
      left: 0;
    }
    &__overlay {
      display: block;
      z-index: 1;
    }
  }
}

.list-mobile {
  & .material-icons {
    margin-right: 15px;
  }

  & .divider {
    border: none;
    width: 98%;
    height: 2px;
    border-bottom: 2px dashed black;
    margin-bottom: 15px;
  }
}
