@import "../../../_variable.scss";


//---------------------------------------
.filterNav {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* Modal Content */
.filterNav-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 30vw;
    height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: rgb(77, 52, 52);
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
//---------------------------------------------
.bar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: $fs-text;
    padding: 0 18px;
    max-width: 1202px;
    height: 96px;
    background-color: $c-white;
    border-radius: $radius-primary;
    
    
    &__filter {

    }

    &__search {
        margin: 0 5px;
        
        input {
            font-size: $fs-text;
            padding: 17px 29px 18px;
            width: 491px;
            height: 56px;
            border-radius: $radius-primary;
            border: 1px solid #D9D9D9;
        }
    }

    &__sort {
        
    }
}