@import "../../../_variable.scss";


.button {
    border: none;
    background-color: $c-white;
}

.bar {
    margin: 39px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-text;
    padding: 0 28px;
    max-width: 1202px;
    height: 96px;
    background-color: $c-white;
    border-radius: $radius-primary;

    img {
        margin: 0 5px;
    }

    &__search {
        margin: 0 5px;

        input {
            font-size: $fs-text;
            padding: 17px 65px 18px 29px;
            width: 35vw;
            max-width: 491px;
            height: 56px;
            border-radius: $radius-primary;
            border: 1px solid #D9D9D9;
        }

        button {
            height: 45px;
            width: 50px;
            position: relative;
            right: 65px;
        }
    }


    &__sort {
        position: relative;


        .options {
            display: none;
            position: absolute;
            background-color: $c-background;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px $black-opacity;
            right: 0;
            z-index: 1;
        }

        .options a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        a:hover {
            background-color: $c-line;
        }

        .show {
            display: block;
        }
    }
}