@import "./variable";
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 0;
}

body {
  min-height: 100%;
  background: $c-background;
  font-family: $ff-roboto;
  color: $c-text;
  font-size: $fs-text;
  line-height: 1.2;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 15px;
  max-width: $container;
  margin: $mc;
}

.page {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

svg {
  width: 100%;
  height: 100%;
}

.title-h1 {
  font-weight: 700;
  font-size: $fs-h1;
  line-height: 1.4;
}

.title-h2 {
  font-weight: 700;
  font-size: $fs-h2;
  line-height: 1.4;
  color: $c-black;
}

.title-h3 {
  font-weight: 700;
  font-size: $fs-h3;
  line-height: 1.4;
  color: $c-black;
}

.title-h6 {
  font-weight: 700;
  font-size: $fs-h6;
  line-height: 1.4;
}
